@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_Layout";
}

<div>
    <img src="~/images/logo.png" alt="Finance Manager" />

    <p>@Localizer["MainMessage"]</p>
    <div>
        <a type="button" class="btn btn-primary" href="/authentication/register">
            @Localizer["Register"]
        </a>
        <a type="button" class="btn btn-primary" href="/authentication/login">
            @Localizer["Login"]
        </a>
    
    </div>
</div>