@{
    ViewData["Title"] = "Index";
}

<img src="~/images/logo.png" alt="Finance Manager" />

<p>Hello from our View Template!</p>
<a href="/authentication/login">Login</a>
<a href="/authentication/register">Register</a>