@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<img src="~/images/logo.png" alt="Finance Manager" />

<p>Hello from your home</p>