@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "_Layout";
}

<h1>@Localizer["Welcome"]</h1>

<div class="d-flex justify-content-between">
    <p>@Localizer["MainMessage"]</p>
    <button type="button" class="btn btn-primary">@Localizer["AddAccount"]</button>
</div>

<ul>
    <li>Account 1</li>
    <li>Account 2</li>
    <li>Account 3</li>
</ul>